.card {

	width:120px;
	height:180px;
	border-radius:15px;
	border-width:3px;
	border-style:inset;

}

table, th, td {

	border-collapse:collapse;

}

.hide {
	
	visibility:hidden;
	
}

#info {
	
	position:absolute;
	bottom:0;
	
}

th {

	padding:20px;
	background:black;

}

td {

	text-align:center;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background:#322b2b;
	color:white;
	font-size:15px;
	font-style: italic;

}

.common {
	color: white;
}

.unique {
	color: #ff6000;
}

.rare {
	color: #ffdc50;
}

.epic {
	color: #ca80ff;
}

.leggendary {
	color: #ff4d4d;
}

.god {
	color:#8080ff;
}

.r-common {
	border-color: white;
}

.r-unique {
	border-color: #ff6000;
}

.r-rare {
	border-color: #ffdc50;
}

.r-epic {
	border-color: #aa32ff;
}

.r-leggendary {
	border-color: #e60000;
}

.r-god {
	border-color: rgb(0,0,220);
	border-style: solid !important;
	border-radius: 0 !important;
	outline: 3px solid white;
}
span {
	font-weight: bold;
	font-size: 17px;
	font-style: normal !important;
}
